{% load staticfiles %}
<style>
    #id_search {
        width:100%;
    }
    input {
        width:300px;
    }
    label {
        font-weight:400 !important;
    }

</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<div class="page-header" style="position: relative;">
    <title>EBB IT Inventory</title>
    <nav class="navbar navbar-default" style="top: -30px; ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/itInventory/">EBB IT Inventory</a>
            </div>

        </div><div class="container-fluid">
        <div class="row" style="background-color: black">
            <img src="http://s32.postimg.org/o736umxqt/banner.jpg" class="img-responsive"  />
        </div>
    </div>
    </nav>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="btn-group-vertical btn-block" role="group" aria-label="...">
                <button onclick="location.href='/itInventory/';" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-home"></i> Home</button>
                <br>
                <button onclick="location.href='/itInventory/addItem';" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
                <br>
                <button onclick="location.href='/itInventory/searchItem';" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Update Item</button>
                <br>
            </div>
        </div>

        <div class="col-sm-10">
            <nav class="navbar navbar-default">
                <h1>Update Item</h1>
            </nav>
            <button class="btn btn-default" onclick="location.href='/itInventory/itemDetail/{{ item_ID }}';" type="submit"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
            <div><br></div>
            <form action="." method="POST">
                <div class="col-sm-6">
                    <table class="table">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <tr>
                                <td>{{ field.label_tag }}</td>
                                <td align="right">{{ field }}</td>
                                {% if field.errors %}
                                    <div class="alert alert-danger" role="alert" style="color: red; width:200px"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>{{ field.errors | striptags }}</div>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div><br></div>
                <button type="submit" class="btn btn-default col-sm-offset-8" style="width:200px" align="right">Save</button>
        </form>
    </div>

</div>
</div>
<br>